.task-form {
  &-edit {
    padding: 25px 38px 0 38px;
    border-top: 1px solid $mid-gray;
  }
  &-item {
    margin-bottom: 20px;
    font-size: 0;
    h3 {
      margin-bottom: 10px;
      @include fontstyle(14px, 700, $black, 1.6);
      svg {
        margin-right: 5px;
      }
    }
    input {
      line-height: 28px;
      padding-left: 5px;
      width: 40%;
      min-width: 135px;
      letter-spacing: -1px;
      &[type="time"] {
        min-width: 98px;
      }
      &:first-child {
        margin-bottom: 5px;
      }
      &[type="file"] {
        display: none;
      }
      &[type="date"] {
        margin-right: 5px;
      }
    }
    .task-deadline, .file-add, textarea {
      margin: 0 18px;
    }
    .file-add-button {
      display: inline-block;
      padding: 6px 8px;
      background: $mid-gray;
      vertical-align: middle;
      border-radius: 1px;
      color: $white;
      font-size: 16px;
      cursor: pointer;
      &:active, &:hover {
        background: $royal-blue;
      }
    }
    .file-caption {
      display: inline-block;
      vertical-align: middle;
      max-width: 174px;
      margin-right: 3%;
      font-size: 12px;
      time {
        color: $heavy-gray;
      }
    }
    textarea {
      width: calc(100% - 18px);
      padding: 8px 18px;
      &::placeholder {
        color: $mid-gray;
      }
    }
  }
}

@include mediaquery_pad {
  .task-form {
    &-item {
      h3 {
        font-size: 20px;
      }
      input {
        min-width: 140px;
      }
      input, textarea {
        font-size: 14px;
      }
      .file-caption {
        font-size: 16px;
      }
    }
  }
}