.task-title {
  padding: 10px 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task-name {
  display: inline-block;
  vertical-align: middle;
  background: inherit;
  margin-left: 5px;
}

.task-name, .task-name::placeholder {
  @include fontstyle(14px, 700, $black, 1.4);
}

.task-name.cross-off {
  text-decoration: line-through;
  color: $mid-gray;
}

.is-star {
  background: $cream-yellow;
}

@include mediaquery_pad {
  .task-title {
    padding: 20px 32px;
  }
  .task-name, .task-name::placeholder {
    font-size: 24px;
  }
}